version: '3.5'
services:
  server:
    build: .
    command: 'node .'
    volumes:
      - .:/usr/app
    ports:
      - 3000:3000
    networks: 
      - socket-net

networks:
  socket-net:
    driver: bridge